/*-------------- global ----------*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 140px;
}

/*--------- navabr ------------*/

nav {
	width: 100%;
    height:60px;
}
#logInBtn {
	margin-top: 25px;
}

/*----------content ------------*/
#content-container {
	padding-right: 0px;
	padding-left: 0px;
}

/*-------- footer -------------*/
.footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #333;
    color: white;
}

.footer-ul {
	padding-top: 30px;
}

.footer-ul li{
	list-style-type:none;
	display: inline;
	padding-left: 30px;
}


/*------------- jumbotron --------*/

.jumbotron {
	background: none;
	padding-bottom: 0px;
}

.jumbotron h1 {
	margin-bottom: 40px;
}


.jumbotron #account-info {
	font-size: 15px;
}


#inbox-alert .inbox {
	padding-right: 10px;
}


#account-info {
	margin-bottom: 60px;
}

#inbox-alert {
	margin-bottom: 60px;
}
/*----------- Service button -------------*/

#service-button {
	margin-top: 20px;
	margin-bottom: 10px;
}

#service-button .col-md-6 {
	padding-bottom: 20px;
}

/*-----------calender-panel-table------------*/
#calender-panel-table {
	margin-top: 40px;
	padding-top: 10px;
	border-style: none;
	padding-right: 40px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	max-height: 400px;
	height: 400px;
	overflow-y: scroll;
}


/*------------ manage-popover-table ----------*/


.popover {
	height: 300px;
	max-width: 100%;
	overflow-y: scroll;
}

#manage-popover-table {
	margin-left: 10px;
	margin-right: 10px;
	padding-right: 10px;
	display: none;
}

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {

}

